.App {
    font-family: 'Audiowide', cursive;
    padding: 2em;
}

img {
    background: black;
}

ul {
    margin: 0 !important;
}

span {
    font-size: 50px;
}

.title {
    margin-top: 0 !important;
}

.grid-days {
    display: flex;
    flex-wrap: wrap;
}